* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.recharts-wrapper {
  max-width: 100%;
}

.recharts-surface {
  min-width: 400px;
  margin: 0 auto;
}

.header-nav-div-a {
  padding: 0 10px 15px 10px;
  display: block;
  border-bottom: 2px solid gray;
}

@media all and (max-width: 550px) {
  .recharts-surface {
    max-width: 300px;
    margin: 0 auto;
  }
}